
a {
  text-decoration: none;
  color: #eadaa2;
  margin: 2px;
}
a:hover {
  color: #e1c978;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: black;
  height: 100px;
  /* position: fixed;
  bottom: 10%; */
 
  /* grid-auto-columns: minmax(min-content, auto); */
  align-items: center;
  justify-items: center;
  font-size: 12px !important;
  color: #eadaa2;
  padding: 10px;
  position: fixed;
  bottom: 0;
}


@media (max-width: 750px) {
  .grid {
    position: relative;
    left:10%;
    margin-bottom: 20px;
  }
  .contact {
    grid-row-start: 2;
  }
  .branding {
    padding: 10px;
  }
  .branding p {
    padding: 5px;
  }
  .contact{
    display:none;
  }

}

@media (max-width: 450px) {
  .social{
    display:none;
  }
  .contact{
    display:none;
  }
  .branding {
    display:none;
  }
  .branding p {
    display: none;
  }
}
