
.main {
  background-image: url('../Style/WOB.jpg');
  width: 90%;
  height: 600px;
  background-size: 100% 100%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 5px white;
  animation: slideshow 34s ;
}

.preload-transitions * {
  -webkit-transition: margin-top 0.2s ease-out !important;
  -webkit-transition: opacity 1s ease-in-out!important;
  -moz-transition: opacity 1s ease-in-out!important;
  -ms-transition: opacity 1s ease-in-out!important;
  -o-transition: opacity 1s ease-in-out;;
  transition: opacity 1s ease-in-out;;
}


@keyframes slideshow {
  0% 
  {
      -webkit-backface-visibility: hidden;
    }
  10% {  
      -webkit-backface-visibility: hidden;
    }
  20% {
      -webkit-backface-visibility: hidden;
    }
  30% { 
      -webkit-backface-visibility: hidden;
    } 
  35% {
    -webkit-backface-visibility: hidden;
  }
  40% {
    -webkit-backface-visibility: hidden;
  }

  45% {
    -webkit-backface-visibility: hidden;
  } 
  
  50% {
  -webkit-backface-visibility: hidden;
}
  
  100% {
  -webkit-transition: margin-top 0.2s ease-out;
  animation-fill-mode:forwards;
  }
  from {
      box-shadow: 1px 2px 10px 5px rgb(51, 49, 49)
  }
  to {
      box-shadow: 2px 3px 11px 6px rgb(61, 60, 60)
  }
}
@media screen and (max-width: 800px) {
   .main {
    display: none; 
  }
}
