
.main {
  background-image: url('../Style/WOB.jpg');
  width: 90%;
  height: 600px;
  background-size: 100% 100%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 5px white;
  animation: slideshow 34s ;
  

}



@keyframes slideshow {
  0% 
  {
      background-image: url('../Style/Growth.jpg');
      -webkit-backface-visibility: hidden;
      /* transition: opacity 1s ease-in-out; */
    }
  10% {
      background-image: url('../Style/Connection.jpg');
      -webkit-backface-visibility: hidden;
      /* transition: opacity 1s ease-in-out; */
    }
  20% {
      background-image: url('../Style/Visionaries.jpg');
      -webkit-backface-visibility: hidden;
      /* transition: opacity 1s ease-in-out; */
    }
  30% {
      background-image: url('../Style/Solidairity.jpg');
      -webkit-backface-visibility: hidden;
      /* transition: opacity 1s ease-in-out; */
    
    } 
  35% {
    background-image: url('../Style/Inspo.jpg');
    -webkit-backface-visibility: hidden;
    /* transition: opacity 1s ease-in-out; */
  
  }
  40% {
    background-image: url('../Style/Entrepreneurship.jpg');
    -webkit-backface-visibility: hidden;
    /* transition: opacity 0.5s ease-in-out; */
  
  }

  45% {
    background-image: url('../Style/Sisters.jpg');
    -webkit-backface-visibility: hidden;
    /* transition: opacity 0.6s ease-in-out; */
    
  } 
  
  50% {
  background-image: url('../Style/Contemplation.jpg');
  -webkit-backface-visibility: hidden;
  /* transition: opacity 0.7s ease-in-out; */
}
  
  100% {
  background-image: url('../Style/WOB.jpg');
  -webkit-transition: margin-top 0.2s ease-out;
  animation-fill-mode:forwards;
  }
  from {
      box-shadow: 1px 2px 10px 5px rgb(51, 49, 49)
  }
  to {
      box-shadow: 2px 3px 11px 6px rgb(61, 60, 60)
  }
}
@media screen and (max-width: 800px) {
   .main {
    display: none; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.slider{
  width: 75%;
  height: 27.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slider-container {
  width: 1000rem;
  height: 30rem;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.slider-text1 {
  font-size: 4.4rem;
  position: absolute;
  left: 5%;
  top: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 3s;
  color: white;
}

.slider-text2 {
  font-size: 3.4rem;
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 3s;
  animation-duration: 3s;
  color: white;
}

.slider-text3 {
  font-size: 4rem;
  position: absolute;
  left: 45%;
  top: 30%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 6s;
  animation-duration: 3s;
  color: white;
  /* white-space: nowrap; */
}
.slider-text4 {
  font-size: 4.4rem;
  position: absolute;
  left: 5%;
  top: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 9s;
  animation-duration: 3s;
  color: white;
}

.slider-text5 {
  font-size: 3.4rem;
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 12s;
  animation-duration: 3s;
  color: white;
}

.slider-text6 {
  font-size: 4rem;
  position: absolute;
  left: 45%;
  top: 30%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 15s;
  animation-duration: 3s;
  color: white;
  /* white-space: nowrap; */
}
.slider-text7 {
  font-size: 4.4rem;
  position: absolute;
  left: 5%;
  top: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 18s;
  animation-duration: 3s;
  color: white;
}

.slider-text8 {
  font-size: 3.4rem;
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 21s;
  animation-duration: 3s;
  color: white;
}

.slider-text9 {
  font-size: 4rem;
  position: absolute;
  left: 25%;
  top: 30%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 24s;
  animation-duration: 8s;
  color: white;
  /* white-space: nowrap; */
}